<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1YDk503zKf0qQEAChA_6OSNiqjgHZPXM</string>
	<key>GCM_SENDER_ID</key>
	<string>992722422201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>asu.HistoricTempe</string>
	<key>PROJECT_ID</key>
	<string>historictempe-bc203</string>
	<key>STORAGE_BUCKET</key>
	<string>historictempe-bc203.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:992722422201:ios:38c3a52d8975184f620e68</string>
</dict>
</plist>
